# Python cache files
__pycache__/
*.pyc

# Jupyter Notebook temporary files
.ipynb_checkpoints/

# Virtual environments
venv/
.venv/

# Environment variables and secrets
.env

# Model files (large files)
*.pkl
*.joblib

# Operating system files
.DS_Store
Thumbs.db

# VS Code settings
.vscode/